{%extends 'menu/base.html'%} {% block content%}
<div class="container-fluid menuPage">
  <div class="row">
    <div class="container menuHeader">
      <h1 class="mainMenu">OUR MENU</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4 class="textMenu">BREAKFAST</h4>
          <div class="breakfastOptions">
            <h5 class="dish1">Egg + Baccon + Potatoes</h5>
            <p class="recipe1">
              Two Eggs Cooked Your Way, Crisp Bacon, Delmonico Potatoes, Brioche
              Toast
            </p>
            <h5 class="price1">NLe100</h5>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
