{%extends 'menu/base.html'%} {% block content%}
<div class="container-fluid locationHeader">
  <h1 class="textLocation">MAKE YOUR ORDER HERE</h1>
</div>
<div class="container-fluid orderPage">
  <div class="row">
    <div class="container">
      <hr class="line" />
      <input class="searchText" type="text" value="" />
      <hr class="line" />
    </div>
    <div class="container btnChoose">
      <button class="btnOption">Delivery</button>
      <button class="btnOption">Pickup</button>
    </div>
  </div>
</div>
{% endblock %}
